
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------


body {
  font-size: @font-size;
  color: @text-color;
  background-color: @back_color;
}
atom-pane {
  border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}

.atom-dock-resize-handle.left, .atom-dock-resize-handle.right {
    background-color: @purple_grey;
	width: 1px;

}

atom-pane-container atom-pane .item-views > *, atom-pane-container atom-pane .item-views > atom-text-editor.react > * {
	background-color: @back_color;
}

.list-group li:not(.list-nested-item).status-modified, .list-tree li:not(.list-nested-item).status-modified, .list-group li.list-nested-item.status-modified > .list-item, .list-tree li.list-nested-item.status-modified > .list-item {
    color: #e2c08d;
}
.list-group li:not(.list-nested-item), .list-tree li:not(.list-nested-item), .list-group li.list-nested-item > .list-item, .list-tree li.list-nested-item > .list-item {
    font-weight: normal;
    color: #9da5b4;
}

atom-text-editor[mini].is-focused {
     outline: none;
     border-color: #568af2;
     box-shadow: 0 0 0 1px #568af2;
     background-color: #202634;
 }
.find-and-replace.has-no-results .find-container atom-text-editor[mini].is-focused {
	outline: none;
	border-color: red;
	box-shadow: 0 0 0 1px red;
	background-color: #202634;
}

.find-and-replace.has-results .find-container atom-text-editor[mini].is-focused {
	outline: none;
	border-color: green;
	box-shadow: 0 0 0 1px green;
	background-color: #202634;
}
.scrollbars-visible-always {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background: @back_color;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		border: 3px solid @back_color;
		background: @light_grey;
		background-clip: content-box;
	}

	::-webkit-scrollbar-corner {
		background: @back_color;
	}

	::-webkit-scrollbar-thumb:vertical:active {
		border-radius: 0;
		border-left-width: 0;
		border-right-width: 0;
	}

	::-webkit-scrollbar-thumb:horizontal:active {
		border-radius: 0;
		border-top-width: 0;
		border-bottom-width: 0;
	}

	atom-text-editor {
		::-webkit-scrollbar-track {
			background: @back_color;
		}
		::-webkit-scrollbar-corner {
			background: @back_color;
		}
		::-webkit-scrollbar-thumb {
			border-color: @back_color;
			background: @light_grey;
		}
	}
}
